<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"	type="image/x-icon" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/baseTelas.css}" />	

	<title>Progress | Stefanini</title>
</head>

<body class="backGround">


<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form> 

</body>
</html>