@import "fonts.css";

@charset "utf-8";

html {
	height: 100%
}

.clr {
	clear: both
}

.backGround {
	background: #0C132A;
	height: 100%;
/* 	margin: 0; */
/* 	padding: 0; */
	width: 100%;
	display: table
}

.footer {
	position:relative;
	bottom:0;
	width:100%;
	color: white;
}

.botao {
	background: #009;
	color: #FFF;
	background: #0C132A;
	border: none;
	border-radius: 6px;
	font-family: "Open Sans";
	font-size: 16px;
	padding: 8px 22px 8px 22px;
	float: right;
	margin: 32px 0px 30px 15px;
	cursor: pointer
}

body {
	background: #FF0;
	margin: 0px;
	width: 100%
}

#boxBase {
	vertical-align: middle;
	display: table-cell
}

#box {
	top: -50%;
	width: 402px;
	margin: auto
}

.logo {
	width: 200px;
	height: 70px;
	margin: 0;
	background: url(../images/logo.png) center center no-repeat
}

#box div.logo {
	width: 100% !important;
	margin-bottom: 36px
}

#boxContent {
	background-color: #FFF;
	border-radius: 8px;
	padding: 28px 30px 0 30px
}


.titulo {
	margin: 0px 0 18px 0;
	font-size: 28px;
	font-weight: normal;
	text-align: center ;
	font-family: "Dax Regular" !important
	
}

input {
	outline: 0
}

.texto {
	width: 100%;
	box-sizing: border-box;
	border: 0px;
	border-bottom: 1px solid #000000;
	font-size: 16px;
	color: #0C132A;
	font-family: "Open Sans", Tahoma, Verdana;
	margin: 10px 10px 0 0;
	padding: 10px 2px 10px 2px
}

.botao:active {
	margin: 33px -1px 29px 1px
}