#header {
	background: #228V
}

.base {
	width: 1268px;
	margin: auto;
	background: #C06B6D !important;
	padding: 20px 20px 20px 20px
}

#conteudo {
	width: 100%;
	background: #6E7EDC;
	clear: left
}

.user {
	float: right;
	background: #03050F !important
}

.texto {
	width: 100%;
	box-sizing: border-box;
	border: 0px;
	border-bottom: 1px solid #000000;
	font-size: 16px;
	color: #0C132A;
	font-family: "Open Sans", Tahoma, Verdana;
	margin: 10px 10px 0 0;
	padding: 10px 2px 10px 2px
}

.link {
	color: #0C132A;
	font-size: 12px;
	font-family: "Open Sans", Tahoma, Verdana;
	padding: 8px 15px 8px 15px;
	float: left;
	margin: 32px 0 30px 0;
}

.texto::-webkit-input-placeholder {
	color: #0C132A;
	opacity: 0.95;
	filter: alpha(opacity = 95)
}