<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"	type="image/x-icon" />
	
	
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.mim.css}" /> -->
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.mim.css}" /> -->
	
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" /> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/baseTelas.css}" />
	
	<script src="skin/js/login.js"></script>
	
	<title>Progress | Stefanini</title>
</head>

<body class="backGround">
	
	<div id="boxBase">

		<div id="box">

			<div class="logo"></div>

			<div id="boxContent">
				
				<form method="post" th:action="@{/register}">
				
					<h1 class="titulo">recuperação de senha</h1>

<!-- 					<input type="number" class="texto" id="cpf" placeholder="cpf" required="required" />  -->
					
					<input type="email" class="texto" id="email" placeholder="email" required="required" /> 
					
					<button class="botao" type="submit">enviar</button>
					
				</form>
				
				<br class="clr" />					
			</div>
		</div>
	</div>

</body>
</html>