<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"	type="image/x-icon" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/baseTelas.css}" />
	
	<script src="skin/js/login.js"></script>
	
	<title>Progress | Stefanini</title>

</head>

<body class="backGround">
	<h1>Olá</h1>	

</body>
</html>