<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>BioTalk | UMC</title>
<link rel="shortcut icon" th:href="@{/images/biotalkicon.ico}"
	type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="css/login.css" />
<link rel="stylesheet" type="text/css" href="css/baseTelas.css" />
<!-- <script src="skin/js/login.js"></script> -->
</head>

<body class="backGround">

	<div id="boxBase">

		<div id="box">

			<div class="logo"></div>

			<div id="boxContent">

				<form method="POST" th:action="@{/login}">

					<h1 class="titulo">Login</h1>

					<input type="text" id="user" name="user" th:placeholder="usuário"
						class="texto" required="required" /> 
					<input type="password" id="password" name="password" th:placeholder="senha" class="texto"
						required="required" />

					<button class="botao" type="submit" th:text="login">entrar</button>

					<div align="center" th:if="${param.error}">
						<p style="font-size: 20; color: #FF1C19;">Login ou Senha
							invalida!</p>
					</div>

					<a class="link" href="/forgotPassword">Esqueceu a Senha?</a>

				</form>

				<br class="clr" />

			</div>
		</div>
	</div>
</body>
</html>