<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"	type="image/x-icon" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	
	<script src="skin/js/login.js"></script>
	
	<title>Progress | Stefanini</title>
</head>

<body class="login">
	
	<div id="boxLoginBase">
	
		<div id="boxLogin">
	
			<div class="logo"></div>
	
			<div id="boxLoginContent">
	
				<form class="form-inline" method="get" th:action="@{/login}">
				
					<h1 class="tituloLogin">login</h1>
				
					<input type="text" class="texto" id="usuario" placeholder="usuário" />
				
					<input type="password" class="texto" id="senha" placeholder="senha" />
					
					<a class="texto" th:href="@{home.html}">Registrar-se</a>
				
					<input type="button" class="botao" value="entrar" onClick="location.href='home.html'" />
				</form>
				
				<br class="clr" />
			</div>
		</div>
	</div>
</body>
</html>