<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"	type="image/x-icon" />	
	
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.mim.css}" /> -->
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.mim.css}" /> -->
	
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" /> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/baseTelas.css}" />
		
	<title>Progress | Stefanini</title>
</head>

<body class="backGround">
	
	
	<div id="boxBase">

		<div id="box">

			<div class="logo"></div>

			<div id="boxContent">
				
				<form method="post" th:action="@{/register}">
				
					<h1 class="titulo">cadastro</h1>

					<input type="text" class="texto" id="nome" placeholder="nome completo" required="required" />
					
					<input type="text" class="texto" id="login" placeholder="usuário de rede" required="required" />
					
<!-- 					<input type="number" class="texto" id="cpf" min="0" placeholder="cpf" required="required" />  -->
					
					<input type="email" class="texto" id="email" placeholder="email" required="required" /> 
					
					<input type="password" class="texto" id="password" placeholder="senha" required="required" />
					
					<input type="password" class="texto" id="password" placeholder="confirmar senha" required="required" />

					<button class="botao" type="submit">salvar</button>
					<button class="botao" type="reset">limpar</button>
					
				</form>
				
				<br class="clr" />					
			</div>
		</div>
	</div>


</body>
</html>