<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"	type="image/x-icon" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/baseTelas.css}" />
	
	
	<script src="skin/js/login.js"></script>
	
	<title>Progress | Stefanini</title>
</head>

<body class="backGround">
	
	
	<div id="boxLoginBase">

		<div id="boxLogin">

			<div class="logo"></div>

			<div id="boxLoginContent">
				
				<form class="form-inline" method="post" th:action="@{/register}">

					<input type="text" class="texto" id="nome" placeholder="nome completo" />
					
					<input type="text" class="texto" id="login" placeholder="usuário de rede" />
					
					<input type="number" class="texto" id="cpf" placeholder="cpf" /> 
					
					<input type="email" class="texto" id="email" placeholder="email" /> 
					
					<input type="password" class="texto" id="password" placeholder="senha" />
					
					<input type="password" class="texto" id="password" placeholder="confirmar senha" />

					<button class="botao" type="submit">salvar</button>
					
				</form>
				
				<br class="clr" />					
			</div>
		</div>
	</div>


</body>
</html>